.previous-feedback-edit {
	padding: auto;
    color: white;
    border: none;
    border-radius: 5px;
	background-color: rgb(5, 21, 236);
	padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.previous-feedback-edit:hover {
	cursor: pointer;
    opacity: 0.5;
}
.previous-feedback-edit:active {
	position:relative;
	top:1px;
}

.previous-feedback-delete {
	padding: auto;
    color: white;
    border: none;
    border-radius: 5px;
	background-color: rgb(223, 54, 54);
	padding: 5px;
    margin-bottom: 15px;
    border: none;
	border-radius: 5px;
	margin-left: 10px;
}
.previous-feedback-delete:hover {
	cursor: pointer;
    opacity: 0.5;
}
.previous-feedback-delete:active {
	position:relative;
	top:1px;
}