.feedback-form-container {
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px auto;
}

.feedback-form {
    margin: 12px;
}

.add-feedback-heading-container {
    font-weight: bold;
    margin: 10px 0 10px -10px;
    display: flex;
    justify-content: space-between;
}

.feedback-input-heading {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.feedback-input-heading b {
    color: rgb(160, 20, 20);
}

.feedback-module-title-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.select-module, 
.feedback-title-input {
    width: 50%;
    height: 30px;
}

.feedback-message-input {
    width: 100%;
    height: 70px;
}

.select-module, 
.feedback-title-input, 
.feedback-message-input,
.post-feedback-button-div {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.feedback-form-bottom-section {
    display: flex;
    justify-content: space-between;
}

.post-feedback-button-div {
    padding: auto;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #ed4343;
    height: 30px;
}

.post-feedback-button-div:hover{
    cursor: pointer;
    opacity: 0.5;
}
