.students-cards-container{
    display: flex;
    flex-wrap: wrap;
}

.student-card{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 159;
    margin: 20px;
    padding: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    text-decoration: none;
    color:black
}

.profile-picture {
    width:100px;
    height: 100px;
    border-radius: 50%;
}

.previous-feedback {
    text-align: center;
    margin: 20px auto;
    text-align: left;
}