.footer-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3f3f3f;
    font-family: "Raleway",sans-serif;
    color: #ececec;
    font-weight: 300;
    font-size: 14px;
    width: 100%;
    margin-bottom: 0;
}

.footer-links {
    margin: 10px;
}

.footer-links > a {
    text-decoration: none;
    color: #ececec;
    margin: 20px;
}

.footer-links > a:hover {
    text-decoration: underline;
    color: #D4D4D4;
}

.footer-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 10px;;
}

.footer-text > p {
    margin: 0 5px;
}