.footer-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3f3f3f;
    font-family: "Raleway",sans-serif;
    color: #ececec;
    font-weight: 300;
    font-size: .85rem;
    height: 80px;
    width: 100%;
    margin-top: 30px;
}

.footer-links {
    margin: 10px;
}

.footer-links > a {
    text-decoration: none;
    color: #ececec;
    margin: 20px;
}

.footer-links > a:hover {
    color: #D4D4D4;
}