.homepage-container {
    height: auto;
}

.cover-image-container, .app-info-sign-in-container {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}

@media (min-width: 992px) {
    .cover-image-container, .app-info-sign-in-container {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 50%;
    }
}

.cover-image {
    max-width: 100%;
}

.app-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app-info > ul > li {
    padding: 5px 0;
    font-size: 1rem;
    font-weight: 700;
}

.sign-in-section-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.start-here {
min-width: max-content;
align-self: center;
margin: 0;
font-weight: bold;
color: black;
}

@media (min-width: 576px) { 
    .sign-in-section-container {
        flex-wrap: nowrap;
    }
}