.student-profile-container {
    min-height: calc(100vh - 100px);
    display: flex;
    max-width: 960px;
    margin: 50px auto;
}

.student-profile-section-left {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 0.5px solid grey;
    flex: 1;
    height: 65vh;
    margin-right: 15px;
    position: sticky;
    top: 40px;
}

.full-profile-picture {
    width: 250px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 50%;
}

.student-profile-container-right {
    border: 0.5px solid grey;
    flex: 2;
}

.student-image-section {
    flex: 1;
}

.student-info-section {
    flex: 2;
}

.area-of-focus-section {
    border: 0.5px solid grey;
    height: 65vh;
}

.area-of-focus-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.area-text-section-red {
    border-top: 1.5px solid red;
}

.area-text-section-yellow {
    border-top: 1.5px solid rgb(255, 204, 0);
}

.area-text-section-green {
    border-top: 1.5px solid rgb(19, 91, 5);
}

.dummy-button {
    background-color: red;
    border-radius: 10px;
    width: 60px;
    height: 23px;
    border: none;
    margin: 10px;
}

.subtitle-text {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.student-profile-name {
    font-size: 40px;
    font-weight:700;
}

.student-profile-city {
    font-size: 32px;
    font-weight: 600;
}
.student-profile-github {
    font-size: 22px;
    font-weight: 500;
    margin-left: 5px;
}

.student-profile-email {
    font-size: 22px;
    font-weight: 500;
    margin-left: 5px;
}

.email-github-section {
    margin-top: 20px;
}

.email-icon-section{
    display:flex;
}

.github-icon-section{
    display:flex;
}
@media (min-width:300px) and (max-width:757px) {

    .student-profile-container {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px;
    }

    .full-profile-picture {
        width: 150px;
        height: 150px;
        margin-top: -50px;
    }

    .student-profile-section-left {
        margin-top: 65px;
        margin-right: 0px;
    }
    .student-profile-container-right {
        margin-top: 10px;
    }
    .student-image-section {
        margin-bottom: -50px;
    }
}