.student-hero-section {
    display: flex;
    background-color: #f6f6f6;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: 1px solid grey;
    border-radius: 2px;
    flex: 3;
    margin: 10px 10px;
}

.student-highlights-feedback-section {
    display: flex;
}

.student-profile-container-left, 
.student-profile-container-right {
    margin: 10px;
}

.student-profile-container-left {
    flex: 1;
}

.student-profile-container-right {
    flex: 2;
}

.students-route-link {
    top: 5px;
}

.full-profile-picture {
    width: 125px;
    height: 125px;
    border-radius: 2px 0px 0px 2px;
}

.student-image-section {
    text-align: center;
}

.student-info-section {
    display: flex;
}

.student-profile-name {
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
}

/* .student-profile-city {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
} */

.student-profile-github {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.student-profile-email {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.email-github-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.email-icon-section {
    display: flex;
}

.github-icon-section {
    display: flex;
}

.back-to-students {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.back-to-students:hover {
    color: grey;
}
@media (max-width:768px) {
    .student-highlights-feedback-section {
        flex-wrap: wrap;
    }
    
    .student-profile-container-left,
    .student-profile-container-right {
        flex: 1;
        width: 100%;
    }
}

@media (max-width:420px) {
    .student-profile-name {
        font-size: 22px;
    }
    .student-profile-github,
    .student-profile-email {
        font-size: 14px;
    }
}
