.student-profile-container {
    max-width: 960px;
    margin: 0 auto;
}

.student-hero-section {
    display: flex;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}

.student-highlights-feedback-section {
    display: flex;
}

.student-profile-container div.student-profile-container-left {
    margin-right: 15px;
    flex: 1;
}

.student-profile-container div.student-profile-container-right {
    flex: 2;
}

.students-route-link {
    top: 5px;
}

.back-to-students {
    margin: 5px 20px;
    color: rgb(58, 57, 57);
}


.full-profile-picture {
    width: 125px;
    height: 125px;
}

.student-image-section {
    text-align: center;
}

.student-info-section {
    display: flex;
}

.area-of-focus-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.area-text-section-red {
    border-top: 1.5px solid red;
}

.area-text-section-yellow {
    border-top: 1.5px solid rgb(255, 204, 0);
}

.area-text-section-green {
    border-top: 1.5px solid rgb(19, 91, 5);
}

.dummy-button {
    background-color: red;
    border-radius: 10px;
    width: 60px;
    height: 23px;
    border: none;
    margin: 10px;
}

.subtitle-text {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.student-profile-name {
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
}

.student-profile-city {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.student-profile-github {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.student-profile-email {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.email-github-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;
}

.email-icon-section {
    display: flex;
}

.github-icon-section {
    display: flex;
}

/* @media (min-width:300px) and (max-width:757px) {

    .student-profile-container {
        flex-direction: column;
        margin: 20px;
    }

    .full-profile-picture {
        width: 150px;
        height: 150px;
        margin-top: -50px;
    }

    .student-profile-section-left {
        margin-top: 65px;
        margin-right: 0px;
    }
    .student-profile-container-right {
        margin-top: 10px;
    }
    .student-image-section {
        margin-bottom: -50px;
    }
}

@media (min-width:758px) and (max-width:1200px) {
} */
