$redColor: #dc3545;
$amberColor: #ffc107;
$greenColor: #28a745;
$circleBorder: 1.5px solid black;

@mixin highlights-form-radio-circle-section{
    cursor: pointer;
    font-family: sans-serif;
    font-size: 22px;
    user-select: none;
    margin: auto;
}

@mixin trafficLightCircles($color){
    display: inline-block;
    min-width: 30px;
    height: 30px;
    background-color: $color;
    left: 0;
    top: 0;
    border-radius: 50%;
    margin: auto;
}

@mixin trafficLightCirclesWithBorder($color) {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    background-color: $color;
    left: 0;
    top: 0;
    border-radius: 50%;
    margin: auto;
    border: 1.5px solid black;

}
.highlights-form {
    flex-direction: column;
    justify-content: center;
    margin: 12px;
}

.highlights-form-lights-text-section {
    display: flex;
}

.highlights-form-input-heading{
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}
.highlights-form-title {
    margin-bottom: 10px;
    margin-top: 12px
}

.radio-circle-section {
    @include highlights-form-radio-circle-section();
    input {
        display: none;
    }
}
/* circle red */

.radio-circle-section .circle-red {
    @include trafficLightCircles($redColor)
}

.radio-circle-section .circle-red-border {
   @include trafficLightCirclesWithBorder($redColor)
}
/* circle yellow  */

.radio-circle-section .circle-yellow {
    @include trafficLightCircles($amberColor)
}

.radio-circle-section .circle-yellow-border {
    @include trafficLightCirclesWithBorder($amberColor)
}
/* circle green */

.radio-circle-section .circle-green {
   @include trafficLightCircles($greenColor)
}

.radio-circle-section .circle-green-border {
    @include trafficLightCirclesWithBorder($greenColor)
}

.highlights-form-add-button {
    padding: 5px;
    margin-bottom: 15px;
    min-width: 140px;
    max-width: 140px;
    border: none;
    margin: 8px 5px;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    height: 29px;
}

.highlights-form-description-display {
    display: flex;
    flex: 1;
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

.highlights-form-display {
    padding-top: 11px;
    min-height: 35px;
    max-width: 200px;
    margin-bottom: 0px;
}

.lights-section {
    display: flex;
    min-height: 55px;
    flex-direction: column;
}

.highlights-form-input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    max-width: 180px;
    min-width: 180px;
    background-color: #f6f6f6;
}
