.card-container{
    text-align:center ;
}

.card-container > p{
    margin-bottom: 0.8rem;
} 
.regions-card {
    text-decoration: none;   
    margin: 15px;
}

.regions-card:hover {
    text-decoration: none;   
}

.region-name {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.region-image {
    width: 250px;
    height: 280px;
    margin: 20px;
    padding: 0;
    margin-top: 0;
}

.region-image:hover {
    border: 6px solid red;
    text-decoration: none;
}
