.card-container{
    text-align:center ;
}

.regions-card {
    text-decoration: none;   
    margin: 15px;
}

.regions-card:hover {
    background-color: rgba(237,67,67, 1);
}

.region-name {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.region-image {
    width: 240px;
    height: 280px;
    margin: 20px;
    padding: 0;
    margin-top: 0;
}