.feedback-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.feedback-message {
    width: 700px;
    height: 350px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.feedback-label {
    width: 700px;
    margin: auto;
}

.send-feedback-button-div {
    width: 700px;
    margin: auto;
    text-align: end;
}

.given-feedback-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.feedback-section-container {
    display: flex;
    flex-wrap: wrap;
}
