.studen-profile-container {
    min-height: calc(100vh - 100px);
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 170px;
    margin-left:170px;
}

.student-profile-section-left{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 0.5px solid grey;
    flex: 1;
    height: 65vh;
    margin: 15px;
}

.full-profile-picture {
    width: 250px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 50%;
}

.studen-profile-container-right {
    border: 0.5px solid grey;
    flex: 2;
    margin: 15px;
}

.student-image-section{
    flex:1;
}

.student-info-section {
    flex:2;
}

@media (min-width:300px) and (max-width:757px){

    .studen-profile-container{
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px;
}

.full-profile-picture {
    width: 150px;
    height: 150px;
    margin-top: -50px;
}

.student-profile-section-left {
    margin-top: 50px;
}
}