.login-form {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    margin: 100px auto;
    border: 1px solid black;
}

.login-form > * {
    margin: 10px;
}

.login-form > div > input {
    width: 100%;
}