.previous-feedback-section{
    overflow-y: auto;
    max-height: 500px;
    margin: 5px 5px;
    background-color: white;
}

.select-module, .select-mentor{
    width: 200px;
    margin: 3px 10px;
    padding: 5px;
    line-height: 15px;
}

.no-feedback-found-warning{
    display: flex;
    color: red;
    margin: 20px auto;
    text-align: center;
}

.filters {
    display: flex;
}


