.previous-feedback-section{
    height: 600px;
    overflow-y : auto;
    border: 1px solid rgb(87, 82, 82);
    border-radius: 1px;
    margin: 5px 5px;
}

.previous-feedback-title{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.select-module, .select-mentor{
    width: 200px;
    margin: 3px 10px;
    padding: 5px;
    line-height: 15px;
}

.feedback-filter-heading {
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.feedback-filter-heading b {
    color: rgb(160, 20, 20);
}

span{
    color: red;
}

.previous-feedback-list{
    margin-top: 15px;
    margin-left: 6px;
    margin-right: 6px;
    border: 0.5px solid rgb(134, 134, 134);
    background-color: #ffffff;
    box-shadow: 0 0 3px;
}

.feedback-module-title-text{
    display: flex;
    flex-direction: column;
}

.feedback-module{
    font-size: 14px;
    margin: 10px 5px;
    width: 250px;
}

.feedback-title{
    font-size: 14px;
    color: rgb(2, 2, 31);
    margin: 10px;
}

.feedback-text{
    font-size: 14px;
    color: rgb(2, 2, 31);
    margin: 20px 5px ;
    font-weight: bolder;
    border: none;
}

.date-mentor{
    display: flex;
    justify-content: space-between;
    margin: 10px 3px;
    font-weight: bolder;
    font-size: 12px;
}

.line{
    border: 1px dashed rgb(75, 72, 72); 
    width: 80%; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%; 
}

.buttons{
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px ;
    border-radius: 5px;
    padding: 5px 0px 5px 10px ;
    font-size: 12px;
}

