.previous-feedback-list{
    margin-top: 15px;
    margin-left: 6px;
    margin-right: 6px;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 3px;
    overflow-y: auto;
}

.filters{
    display: flex;
    height: 2.6em;
}

.filter-by-module, 
.filter-by-mentor{
    width: 70%;
    margin: 0.4rem 1.3em
}

.select-module,
.select-mentor{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.previous-feedback-module,
.previous-feedback-title
{
    display: flex;
    width: 300px;
    margin: 0px 5px 5px;
    padding: 5px 10px;
    border:none
}

.feedback-title-input{
    width: 250px;
    border: none
}

.previous-feedback-text
{
    margin: 0px 5px;
    padding: 5px;
    border:none
}

.previous-feedback-text-input{
    border:none;
    margin: 1px;
    max-width: 20em;
    min-width: 99%;
	word-wrap: break-word;
	padding: 7px;
    font-size: 0.8rem;
    font-weight: bold;
    min-height: 7em;
}

.previous-feedback-mentor,
.previous-feedback-time{
    display: flex;
}

.previous-feedback-mentor-input,
.previous-feedback-time-input{
    padding: 5px;
    font-size: small;
}

.feedback-input-head {
    margin: 0px;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 5px;
}

input{
    border: none;
    width: 200px
}

.feedback-filter-heading {
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.feedback-filter-heading b {
    color: rgb(160, 20, 20);
}

.edit-delete-buttons {
    display: flex;
    margin: 0px 10px 3px;
    justify-content: flex-end;
}

.date-mentor{
    display: flex;
    justify-content: space-between;
    margin: 10px 3px;
    font-weight: bolder;
    font-size: 12px;
}

.line{
    border: 1px dashed rgb(75, 72, 72); 
    width: 80%; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%; 
}

.edit-button,
.save-button {
	color: white;
    border: none;
    border-radius: 5px;
	background-color: rgb(5, 21, 236);
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 5px 10px;

}

.save-button {
    background-color: rgb(241, 1, 1);
}

.edit-button:hover,
.save-button:hover  {
	cursor: pointer;
    opacity: 0.5;
}

.edit-button:active,
.save-button:active {
	position:relative;
	top:1px;
}

.delete-button {
    color: white;
    border: none;
    border-radius: 5px;
	background-color: rgb(241, 1, 1);
	padding: 5px 5px;
    margin: 0px 0px 5px 20px;
}

.delete-button:hover {
	cursor: pointer;
    opacity: 0.5;
}

.delete-button:active {
	position:relative;
	top:1px;
}