.prev-feedback-list{
    margin: 12px 5px;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 3px;
    overflow-y: auto;
}

.feedback-title-textarea{
    background-color: white;
    border: none;
    font-size: medium;
    padding: 6px 0px 3px;
    font-weight:  bolder;
    height: 2rem;
    width: 15rem;
    overflow-y: hidden;
}

.feedback-title-and-module{
    display: flex;
}

.feedback-module{
    margin-top: 3px;

}
.feedback-mentor-time{
    display: flex;
    justify-content: space-between;
}

.feedback-title,
.feedback-module{
    display: flex;
    padding: 5px 7px;
}

.title-module{
    margin-right: 10px;
    font-size: 1200;
    padding: 7px 0px 3px;
    font-weight: 700;
}

.feedback-title-and-module{
    display: flex;
    padding: 0px 20px 0px 0px;
}

.prev-feedback-module,
.prev-feedback-title
{
    display: flex;
    width: 30%;
    margin: 0px 5px 5px;
    padding: 5px 20px 0 0;
    border:none
}

.modules-dropdown{
    font-size: medium;
    padding-top: 4px;
    font-weight: 700;
}

.feedback-text-textarea{
    border:none;
    margin: 1px;
    max-width: 20em;
    min-width: 99%;
	word-wrap: break-word;
	padding: 7px;
    font-size: 0.8rem;
    font-weight: bold;
    min-height: 7em; 
    background-color: white;
}

.feedback-mentor-time{
    display: flex;
    padding-left: 10px;
} 

.prev-feedback-time,
.prev-feedback-mentor{
    width: 45%;
}

.feedback-mentor-time > p{
    padding: 5px;
    font-size: small;
}

input{
    border: none;
    width: 200px
}

.edit-delete-buttons {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
}

.save-button {
    background-color: rgb(241, 1, 1);
}

