.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efefef;
  font-family: "Raleway", sans-serif;
  color: #ececec;
  font-weight: 300;
  font-size: .85rem;
  height: 80px;
  width: 100vw;
  margin-bottom: 10px;
}

.navbar-container>div {
  position: sticky;
}

.navbar-links {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.sign-out-btn-div > :only-child {
  margin-right: 20px;
  flex: 0;
  min-width: 110px;
}

.homepage-route-link {
  text-decoration: none;
  color: black;
  font-size: 700;
  justify-self: flex-start;
  margin: 10px;
}

.CYF-logo {
  width: 120px;
  height: 38px;
  margin-bottom: 0;
}

.homepage-route-link>h3,
.syllabus-link,
.regions-route-link {
  padding-bottom: 10px;
  border-bottom: 5px solid transparent;
}

.homepage-route-link>h3 {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin: 0 30px 10px 20px;
  padding: 0;
}

.syllabus-link>a:link,
.syllabus-link>a:visited,
.regions-route-link:link,
.regions-route-link:visited {
  text-decoration: none;
  color: black;
}

.syllabus-link:hover,
.syllabus-link:active,
.regions-route-link:hover,
.regions-route-link:active,
.homepage-route-link>h3:hover,
.homepage-route-link>h3:active {
  border-bottom: 5px solid red;
}

.navbar-buttons {
  display: flex;
}

.syllabus-link,
.regions-route-link,
.login-route-link,
.register-route-link {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
}

.login-route-link:link,
.login-route-link:visited,
.register-route-link:link,
.register-route-link:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.login-route-link:link,
.login-route-link:visited {
  background-color: #ed4343;
}

.login-route-link:hover,
.login-route-link:active {
  background-color: rgb(255, 0, 0);
}

.register-route-link:link,
.register-route-link:visited {
  background-color: rgb(145, 145, 145);
}

.register-route-link:hover,
.register-route-link:active {
  background-color: rgb(107, 107, 107);
}

.navigation-btn-container{
  flex: 5;
}

.go-back-btn{
    color: black;
    border: 1px solid black;
}

.go-back-btn:hover {
  background-color:#343A40;
}

@media (max-width:420px) {
    .go-back-btn {
        font-size: 12px;
        min-height: 39px;
        padding: 0px;
    }
}